*{
    margin: 0;
    padding: 0;

}

body{
    /* width: 1280px;
    margin: 0px auto; */
    margin-bottom: 200px;
    background-color: whitesmoke;
}


/* shared style */
.style1{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    }

.style2{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
}
.style3{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
}

/* banner section design */

header{
    width: 1280px;
    height: 580px;
    width: 1280px;
    margin: 0px auto;
    margin-top: 50px;
}

.banner{
    /* padding: 80px 100px 80px 100px; */
    
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    justify-content: center;
    gap: 64px;
    align-items: center;
    width: 1280px;
    height: 560px;
}


.banner-item1{
    width: 622px;
    height: 326px;

}



.banner-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 24px;
}

.btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 270px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;    
    border: none;

}
.btn:hover{
    box-shadow: 2px 2px 5px rgba(56, 42, 42, 0.5);
    font-size: 18px;
    background: rgb(163, 1, 1);
    transition: .5s;
    cursor: pointer;
}


.banner-item2{
    width: 474.03px;
    height: 400px;
}



/*-------------------------------------------------------------
------------------------ card css ---------------------------
----------------------------------------------------------------*/
main{
    width: 1280px;
    width: 1280px;
    margin: 0px auto;
    margin-top: 110px;
}
.vision{
    width: 1280px;
    height: 765px;
}

.vision-info h1{
    margin-bottom:24px;
}
.cards{
    margin-top: 32px;
    display: flex;
    gap: 24px;
}
.card-btn{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    width: 122px;
    height: 41px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;    
    border: none;
    
}

.card{
    width: 410.67px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 32px;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);

}

.card-style1{
    background: rgba(84, 144, 245, 0.2);
}
.card-style2{
    background: rgb(198, 228, 214);
}
.card-style3{
   background: rgb(247, 235, 207);
    
}
.card-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
}

.card-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;   
}

.btn2{
    background: rgb(9, 161, 92);
}
.btn3{
    background: rgb(255, 194, 57);
}

/* -------------------------------
-----------------------------------quote section */

.sign{
    margin: 0px 24px 48px 22px;
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100px;
    position: absolute;
    height: 100px;
}
.quote{
    height: 256px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 32px;

}
.quote-field{
    padding: 48px 24px 48px 24px;

}

.quote-description{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    line-height: 24px;

}

.author-name{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 8px;
}

.author-role{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
 
}



/*---------------------------
------------------------------ news section */


.news{
    width: 1280px;
    height: 1006px;
    display: flex;
    flex-direction: column;
    margin: 150px 0px;
}
.news-card{
    height: 402px;
    padding: 40px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin: 24px 0px;
    }

.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.news-img img{
    border-radius: 20px;
}

.news-description{
width: 744px;
height: 290px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 20px;
}

.news-card{
    display: flex;
    gap: 24px;
}

.news-btn{
    border-radius: 8px;
    background:rgb(0, 106, 80);;
    width: 122px;
    height: 41px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;    
    border: none;

}




/* -----------------------
--------------------------donate section css */

.donation{
    width: 1280px;
    height: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.donation-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.donate-description{
    text-align: center;
}
.amount-option{
    display: flex;
}

.amount-btn{
    width: 240px;
    height: 128px;
    padding: 20px;
    margin: 0px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
}

.thousend-btn{
    width: 264px;

}

.amount-btn:hover{
    background-color:  rgba(84, 143, 245, 0.39);
    transition: .5s;
}

.unq-btn{
    background: rgb(198, 228, 214);
}

.inpt-amount{
    width: 1032px;
    height: 64px;
    padding: 20px 40px 20px 40px;
    margin: 32px 0px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.dnt-btn{
    width: 180px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;    
    border: none;
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;

}







/* challeenge css */
.newsletter{
    padding: 80px 100px 80px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-top: 150px;
}
.newsletter-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.email-inpt{
    display: flex;

}

.email-inpt input{
    width: 600px;
    height: 55px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    padding: 0px 40px 0px 40px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    border: none;
}
.email-inpt button{
    width: 150px;
    height: 56px;
    border: none;
    padding: 19px 40px 19px 40px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
}


.newsletter-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    }

/* --------------

-------------footer*/

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        background-color: white;
        width: 1600px;
        margin-top: 150px;
    height: 226px;
    padding: 50px 160px 50px 160px;
 }


.footer hr{

    border-top: 1px solid rgba(14, 14, 14, 0.1);
    width: 1122px;
}
.footer-text{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.footer-icon img{
    padding:20px;
}